{% extends 'base.html.twig' %}

{% block title %}Салон цветов и подарков "Amnesia"{% endblock %}

{% block container %}
    <section>
    <div class="col-md-12 main-screen--home-page" style="background: url('{{ vich_uploader_asset(website, 'mainBackgroundImageFile') }}') 100% 100% no-repeat; background-size: cover; height: 0; width: 100%; padding-top: 66.64%;">
   <!-- <h1>День Всех Влюбленных с Amnesia</h1>
    <h2>Команда Amnesia позаботилась, чтобы Ваши проявления любви коснулись самого сердца!</h2>
    <button type="button" class="btn btn-dark">Цветочный бокс</button>-->
    </div>
    </section>
    <section>
    <div class="container-fluid">
    <div class='marquee-moving-left' style='overflow:hidden'>Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia</div>
    <div class='marquee-moving-right' data-direction="right" style='overflow:hidden'>Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia</div>
        <div class="container">
        <div class="col-md-12">
            <div class="row">
                    <div class="col-md-6 week-choice--home-page">
                    <img src="{{ asset('/assets/images/test-images/IMG_6813.JPG') }}" class="card-img-top" alt="...">
                     </div>
                    <div class="col-md-6">
                        <h2>Выбор этой недели</h2>
                        <hr>
                        <h4>//titre</h4>
                        <h4>//description</h4>
                        <h4>//price</h4>
                        <button type="button" class="btn btn-dark">Заказать прямо сейчас</button>
                    </div>
             </div>
        </div>
        <div class="col-md-12">
            <div class="row">
            {% for catalogCategory in catalogCategories %}
            <div class="col-md-4 catalog-card--home-page">
              <div class="card">
                <div class="card-body text-center">
                  <div class="mb-3">
                  <span class="avatar avatar-xl avatar-rounded" style="background-image: url('{{ vich_uploader_asset(catalogCategory, 'mainImageFile') }}')"></span>
                  </div>
                </div>
                <a href="#" class="card-btn">{{ catalogCategory.title }}</a>
              </div>
            </div>
           {% endfor %}
            </div>
        </div>
        </div>
    </div>
    </section>
    <section>
        <div class="container">
        <h2>Быстрый заказ</h2>
        
        <div class="col-md-12">
            <div class="row">
                 <div class="col-md-4">
                <button type="button" class="btn btn-dark">Цветочный бокс</button>
                </div>
                <div class="col-md-4">
                <button type="button" class="btn btn-dark">Букет</button>
                </div>
                <div class="col-md-4">
                <button type="button" class="btn btn-dark">Композиция</button>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                </form>
            </div>
        </div>
        </div>
       </div>
    </section>
    <section>
    <div class="container">
     <h2 class="text-center">С любовью к нашим клиентам</h2>
         <div class="col-md-12">
            <div class="row">
             {% for announcement in announcements %}
                <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <img src="{{ vich_uploader_asset(announcement, 'mainImageFile') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">{{ announcement.title }}</h3>
                     <p class="card-text">{{ announcement.description }}</p>
                </div>
                </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    </section>
    <section>
        <div class="col-md-4" style="background: url('{{ vich_uploader_asset(website, 'aboutUsBackgroundImageFile') }}') 100% 100% no-repeat; background-size: cover; height: 0; width: 100%; padding-top: 66.64%;">
        <img src="{{ asset('/assets/images/logo/amnesia-logo.png') }}" alt="логотип компании Амнезия">
        <p>{{ website.aboutUsBody }}</p>
        </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Условия доставки</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <h2 class="text-center">Цены</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        </div>
    </section>
        <section>
        <div class="col-md-4">
        <div class="logo--main-page">
        </div>
        <p></p>
        </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Наши клиенты</h2>
        <div class="col-md-12">
        <div class="row">
        {% for partner in partners %}
        <div class="col-md-3">
        <img src="{{ vich_uploader_asset(partner, 'logoImageFile') }}" class="card-img-top" alt="...">
        </div>
        {% endfor %}
        </div>
        <h2 class="text-center">Что наши клиенты думают о нас</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
        </div>
        </div>
    </section>
    <footer>
            <div class="container">      
                <div class="col-md-12">
                <div class="row">  
                    <div class="col-md-6">
                    <h4></h4>
                    <p></p>
                    <h4></h4>
                    <p></p>
                    <h4></h4>
                    <p></p>
                    </div>
                    <div class="col-md-6">
                    <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="col-12">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                </form>
                </div>
                </div>
            </div>
            </div>
    </footer>
{% endblock %}
