{% extends 'base.html.twig' %}

{% block title %}Салон цветов и подарков "Amnesia"{% endblock %}

{% block container %}
<script>
  // fill the month table with column headings
function day_title(day_name) {
    document.write("<div class='c-cal__col'>" + day_name + "</div>");
  }
  // fills the month table with numbers
function fill_table(month, month_length, indexMonth) {
    day = 1;
    // begin the new month table
    document.write("<div class='c-main c-main-" + indexMonth + "'>");
    //document.write("<b>"+month+" "+year+"</b>")

    // column headings
    document.write("<div class='c-cal__row'>");
    day_title("Sun");
    day_title("Mon");
    day_title("Tue");
    day_title("Wed");
    day_title("Thu");
    day_title("Fri");
    day_title("Sat");
    document.write("</div>");

    // pad cells before first day of month
    document.write("<div class='c-cal__row'>");
    for (var i = 1; i < start_day; i++) {
      if (start_day > 7) {
      } else {
        document.write("<div class='c-cal__cel'></div>");
      }
    }

    // fill the first week of days
    for (var i = start_day; i < 8; i++) {
      document.write(
        "<div data-day='2017-" +
          indexMonth +
          "-0" +
          day +
          "'class='c-cal__cel'><p>" +
          day +
          "</p></div>"
      );
      day++;
    }
    document.write("</div>");

    // fill the remaining weeks
    while (day <= month_length) {
      document.write("<div class='c-cal__row'>");
      for (var i = 1; i <= 7 && day <= month_length; i++) {
        if (day >= 1 && day <= 9) {
          document.write(
            "<div data-day='2017-" +
              indexMonth +
              "-0" +
              day +
              "'class='c-cal__cel'><p>" +
              day +
              "</p></div>"
          );
          day++;
        } else {
          document.write(
            "<div data-day='2017-" +
              indexMonth +
              "-" +
              day +
              "' class='c-cal__cel'><p>" +
              day +
              "</p></div>"
          );
          day++;
        }
      }
      document.write("</div>");
      // the first day of the next month
      start_day = i;
    }

    document.write("</div>");
  }
</script>
    <section>
    <div class="col-md-12 main-screen--home-page" style="background: url('{{ vich_uploader_asset(website, 'mainBackgroundImageFile') }}') 100% 100% no-repeat; background-size: cover; height: 0; width: 100%; padding-top: 66.64%;">
   <!-- <h1>День Всех Влюбленных с Amnesia</h1>
    <h2>Команда Amnesia позаботилась, чтобы Ваши проявления любви коснулись самого сердца!</h2>
    <button type="button" class="btn btn-dark">Цветочный бокс</button>-->
    </div>
    </section>
    <section>
    <div class="container-fluid mt-3 p-0">
    <div class='marquee-moving-left' style='overflow:hidden'>Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia</div>
    <div class='marquee-moving-right' data-direction="right" style='overflow:hidden'>Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia</div>
        <div class="container">
        <div class="col-md-12 mt-4">
            <div class="row">
                    <div class="col-md-6 week-choice--home-page" style="background: url('{{ vich_uploader_asset(isProductOfTheWeek, 'imageFile') }}') 100% 100% no-repeat; background-size: cover; height: 0rem; padding-top: 26.64%;">
                     </div>
                    <div class="col-md-4 m-3 mt-0">
                        <h2>Выбор этой недели</h2>
                        <hr>
                        <h4 class="mb-4">{{ isProductOfTheWeek.title }}</h4>
                        <h4 class="mb-4">{{ isProductOfTheWeek.description }}</h4>
                        <h4 class="mb-4">{{ isProductOfTheWeek.price }}</h4>
                        <div class="form-footer d-flex justify-content-end mt-5">
                            <a class="btn btn-white amnesia-custom-transparent-button">Заказать прямо сейчас</a>
                        </div>
                    </div>
             </div>
        </div>
        <div class="col-md-12">
            <div class="row">
            {% for catalogCategory in catalogCategories %}
            <div class="col-md-4 catalog-card--home-page">
              <div class="card">
                <div class="card-body text-center">
                  <div class="mb-3">
                  <span class="avatar avatar-xl avatar-rounded" style="background-image: url('{{ vich_uploader_asset(catalogCategory, 'mainImageFile') }}')"></span>
                  </div>
                </div>
                <a href="#" class="card-btn">{{ catalogCategory.title }}</a>
              </div>
            </div>
           {% endfor %}
            </div>
        </div>
        </div>
    </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Быстрый заказ</h2>
        
        <div class="col-md-12">
        <div class="mb-4 mt-4 col-md-6 margin-center">
            <div class="row">
                          <div class="form-selectgroup">
                            <label class="form-selectgroup-item col-md-4">
                              <input type="radio" name="icons" value="home" class="form-selectgroup-input" checked="">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                                Цветочный бокс</span>
                            </label>
                            <label class="form-selectgroup-item col-md-4">
                              <input type="radio" name="icons" value="user" class="form-selectgroup-input">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="7" r="4"></circle><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
                                Букет</span>
                            </label>
                            <label class="form-selectgroup-item col-md-3">
                              <input type="radio" name="icons" value="circle" class="form-selectgroup-input">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle></svg>
                                Композиция</span>
                            </label>
                          </div>
                        </div>
                       </div>
            {{ form_start(form1) }}
            <div class="row">
            <div class="col-md-6">
<div>
  <div class="wrapper d-flex justify-content-end">
    <div class="c-monthyear">
    <div class="c-month">
        <span id="prev" class="prev fa fa-angle-left" aria-hidden="true"></span>
        <div id="c-paginator">
          <span class="c-paginator__month" style="left: -1000%;">ЯНВАРЬ</span>
          <span class="c-paginator__month" style="left: -900%;">ФЕВРАЛЬ</span>
          <span class="c-paginator__month" style="left: -800%;">МАРС</span>
          <span class="c-paginator__month" style="left: -700%;">АПРЕЛЬ</span>
          <span class="c-paginator__month" style="left: -600%;">МАЙ</span>
          <span class="c-paginator__month" style="left: -500%;">ИЮНЬ</span>
          <span class="c-paginator__month" style="left: -400%;">ИЮЛЬ</span>
          <span class="c-paginator__month" style="left: -300%;">АВГУСТ</span>
          <span class="c-paginator__month" style="left: -200%;">СЕНТРЯБРЬ</span>
          <span class="c-paginator__month" style="left: -100%;">ОКТЯБРЬ</span>
          <span class="c-paginator__month" style="left: 0%;">НОЯБРЬ</span>
          <span class="c-paginator__month" style="left: 100%;">ДЕКАБРЬ</span>
        </div>
        <span id="next" class="next fa fa-angle-right" aria-hidden="true"></span>
      </div>
      <span class="c-paginator__year">2021</span>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="c-calendar d-flex justify-content-end pt-0">
    <div class="c-cal__container c-calendar__style">
      <script>
      
      // CAHNGE the below variable to the CURRENT YEAR
      year = 2021;

      // first day of the week of the new year
      today = new Date("January 1, " + year);
      start_day = today.getDay() + 1;
      fill_table("January", 31, "01");
      fill_table("February", 28, "02");
      fill_table("March", 31, "03");
      fill_table("April", 30, "04");
      fill_table("May", 31, "05");
      fill_table("June", 30, "06");
      fill_table("July", 31, "07");
      fill_table("August", 31, "08");
      fill_table("September", 30, "09");
      fill_table("October", 31, "10");
      fill_table("November", 30, "11");
      fill_table("December", 31, "12");
      </script>
    </div>
  </div>
</div>
            </div>
            <div class="col-md-6">
                <form class="row g-3">
                <div class="col-md-12">
                <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваше имя</label>
                    {{ form_widget(form1.firstName) }}
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Имя получателя</label>
                    <input class="form-control"  data-prototype="{{ form_widget(form1.deliveryInformation.vars.prototype.recipientName)|e('html_attr') }}"></input>
                </div>
                </div>
                </div>
                <div class="col-md-12">
                <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваш номер телефона</label>
                    {{ form_widget(form1.phoneNumber) }}
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Номер телефона получателя</label>
                    <input class="form-control"  data-prototype="{{ form_widget(form1.deliveryInformation.vars.prototype.recipientPhoneNumber)|e('html_attr') }}"></input>
                </div>
                </div>
                </div>
                <div class="col-12">
                    <label for="inputPassword4" class="form-label">Ваш email</label>
                    {{ form_widget(form1.email) }}
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Адрес доставки</label>
                    <input class="form-control"  data-prototype="{{ form_widget(form1.deliveryInformation.vars.prototype.address)|e('html_attr') }}"></input>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Комментарий к заказу / текст открытки</label>
                 	<input class="form-control"  data-prototype="{{ form_widget(form1.purchases.vars.prototype.comment)|e('html_attr') }}"></input>
                </div>
                <div class="col-12">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Оформить заказ</button>
                </div>
                {{ form_end(form1) }} 
            </div>
        </div>
        </div>
       </div>
    </section>
    <section>
    <div class="container">
     <h2 class="text-center">С любовью к нашим клиентам</h2>
         <div class="col-md-12">
            <div class="row">
             {% for announcement in announcements %}
                <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <img src="{{ vich_uploader_asset(announcement, 'mainImageFile') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">{{ announcement.title }}</h3>
                     <p class="card-text">{{ announcement.description }}</p>
                </div>
                </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    </section>
    <section>
    <div class="col-12 d-flex justify-content-center" style="background: url('{{ vich_uploader_asset(website, 'aboutUsBackgroundImageFile') }}') 100% 100% no-repeat; background-size: cover;">
        <div class="col-md-4 bg-white d-flex justify-content-center mt-4 mb-4 p-5 rounded-corners">
        <img src="{{ asset('/assets/images/logo/amnesia-logo-custom.png') }}" alt="логотип компании Амнезия">
        <p>{{ website.aboutUsBody }}</p>
        </div>
      </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Условия доставки</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <h2 class="text-center">Цены</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        </div>
    </section>
        <section>
        <div class="col-md-4">
        <div class="logo--main-page">
        </div>
        <p></p>
        </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Наши клиенты</h2>
        <div class="col-md-12">
        <div class="row">
        {% for partner in partners %}
        <div class="col-md-3">
        <img src="{{ vich_uploader_asset(partner, 'logoImageFile') }}" class="card-img-top" alt="...">
        </div>
        {% endfor %}
        </div>
        <h2 class="text-center">Что наши клиенты думают о нас</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                        {% for feedback in feedbacks %}
                        <div class="card-body feed-back-block--admin-website">
                          <div class="card-body-middle-layer">
                          <h3 class="card-title m-4 p-2">{{ feedback.description }}</h3>
                          <div class="form-label-group">
                            <p>
                            </p>
                          </div>
                        </div>
                       </div>
                  <h3 class="card-title text-left mt-2">{{ feedback.author }}</h3>
                </div>
               {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
        <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-end">
        <img class="instagram-icon--home-page" src="{{ asset('/assets/images/icons_front/instagram-thin.png') }}" alt="логотип компании Амнезия">
        </div>
        <div class="col-md-8">
        <div class='sk-instagram-feed' data-embed-id='55202'></div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    <footer>
            <div class="container">      
                <div class="col-md-12">
                <div class="row">  
                    <div class="col-md-6">
                    <h4></h4>
                    <p></p>
                    <h4></h4>
                    <p></p>
                    <h4></h4>
                    <p></p>
                    </div>
                    <div class="col-md-6">
              {{ form_start(form2) }}
            <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <form class="row g-3">
                <div class="col-md-12">
                <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваше имя</label>
                    {{ form_widget(form2.firstName) }}
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваш номер телефона</label>
                    {{ form_widget(form2.phoneNumber) }}
                </div>
                <div class="col-12">
                    <label for="inputPassword4" class="form-label">Ваш email</label>
                    {{ form_widget(form2.email) }}
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Ваше сообщение</label>
                    {{ form_widget(form2.userQuestions.vars.prototype) }}
                </div>
                <div class="col-12">
                    <div class="form-check">
                    {{ form_widget(form2.isAgreeConditionsOfUse) }}
                    <label class="form-check-label" for="gridCheck">
                        Я соглашаюсь с условиями использования
                    </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Оформить заказ</button>
                </div>
                {{ form_end(form2) }} 
                </div>
                </div>
            </div>
            </div>
    </footer>
{% endblock %}
