{% extends 'base.html.twig' %}

{% block title %}Салон цветов и подарков "Amnesia"{% endblock %}

{% block container %}
    <section>
    <div class="col-md-12 main-screen--home-page" style="background: url('{{ vich_uploader_asset(website, 'mainBackgroundImageFile') }}') 100% 100% no-repeat; background-size: cover; height: 0; width: 100%; padding-top: 66.64%;">
   <!-- <h1>День Всех Влюбленных с Amnesia</h1>
    <h2>Команда Amnesia позаботилась, чтобы Ваши проявления любви коснулись самого сердца!</h2>
    <button type="button" class="btn btn-dark">Цветочный бокс</button>-->
    </div>
    </section>
    <section>
    <div class="container-fluid">
    <div class='marquee-moving-left' style='overflow:hidden'>Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia</div>
    <div class='marquee-moving-right' data-direction="right" style='overflow:hidden'>Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia Amnesia</div>
        <div class="container">
        <div class="col-md-12">
            <div class="row">
                    <div class="col-md-6 week-choice--home-page">
                    <img src="{{ asset('/assets/images/test-images/IMG_6813.JPG') }}" class="card-img-top" alt="...">
                     </div>
                    <div class="col-md-6">
                        <h2>Выбор этой недели</h2>
                        <hr>
                        <h4>//titre</h4>
                        <h4>//description</h4>
                        <h4>//price</h4>
                        <button type="button" class="btn btn-dark">Заказать прямо сейчас</button>
                    </div>
             </div>
        </div>
        <div class="col-md-12">
            <div class="row">
            {% for catalogCategory in catalogCategories %}
            <div class="col-md-4 catalog-card--home-page">
              <div class="card">
                <div class="card-body text-center">
                  <div class="mb-3">
                  <span class="avatar avatar-xl avatar-rounded" style="background-image: url('{{ vich_uploader_asset(catalogCategory, 'mainImageFile') }}')"></span>
                  </div>
                </div>
                <a href="#" class="card-btn">{{ catalogCategory.title }}</a>
              </div>
            </div>
           {% endfor %}
            </div>
        </div>
        </div>
    </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Быстрый заказ</h2>
        
        <div class="col-md-12">
        <div class="mb-4 mt-4 col-md-6 margin-center">
            <div class="row">
                          <div class="form-selectgroup">
                            <label class="form-selectgroup-item col-md-4">
                              <input type="radio" name="icons" value="home" class="form-selectgroup-input" checked="">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                                Цветочный бокс</span>
                            </label>
                            <label class="form-selectgroup-item col-md-4">
                              <input type="radio" name="icons" value="user" class="form-selectgroup-input">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="7" r="4"></circle><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
                                Букет</span>
                            </label>
                            <label class="form-selectgroup-item col-md-3">
                              <input type="radio" name="icons" value="circle" class="form-selectgroup-input">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle></svg>
                                Композиция</span>
                            </label>
                          </div>
                        </div>
                       </div>
            {{ form_start(form1) }}
            <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <form class="row g-3">
                <div class="col-md-12">
                <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваше имя</label>
                    {{ form_widget(form1.firstName) }}
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Имя получателя</label>
                    <input class="form-control"  data-prototype="{{ form_widget(form1.deliveryInformation.vars.prototype.recipientName)|e('html_attr') }}"></input>
                </div>
                </div>
                </div>
                <div class="col-md-12">
                <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваш номер телефона</label>
                    {{ form_widget(form1.phoneNumber) }}
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Номер телефона получателя</label>
                    <input class="form-control"  data-prototype="{{ form_widget(form1.deliveryInformation.vars.prototype.recipientPhoneNumber)|e('html_attr') }}"></input>
                </div>
                </div>
                </div>
                <div class="col-12">
                    <label for="inputPassword4" class="form-label">Ваш email</label>
                    {{ form_widget(form1.email) }}
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Адрес доставки</label>
                    <input class="form-control"  data-prototype="{{ form_widget(form1.deliveryInformation.vars.prototype.address)|e('html_attr') }}"></input>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Комментарий к заказу / текст открытки</label>
                 	<input class="form-control"  data-prototype="{{ form_widget(form1.purchases.vars.prototype.comment)|e('html_attr') }}"></input>
                </div>
                <div class="col-12">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Оформить заказ</button>
                </div>
                {{ form_end(form1) }} 
            </div>
        </div>
        </div>
       </div>
    </section>
    <section>
    <div class="container">
     <h2 class="text-center">С любовью к нашим клиентам</h2>
         <div class="col-md-12">
            <div class="row">
             {% for announcement in announcements %}
                <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <img src="{{ vich_uploader_asset(announcement, 'mainImageFile') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">{{ announcement.title }}</h3>
                     <p class="card-text">{{ announcement.description }}</p>
                </div>
                </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    </section>
    <section>
        <div class="col-md-4" style="background: url('{{ vich_uploader_asset(website, 'aboutUsBackgroundImageFile') }}') 100% 100% no-repeat; background-size: cover; height: 0; width: 100%; padding-top: 66.64%;">
        <img src="{{ asset('/assets/images/logo/amnesia-logo.png') }}" alt="логотип компании Амнезия">
        <p>{{ website.aboutUsBody }}</p>
        </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Условия доставки</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <h2 class="text-center">Цены</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        </div>
    </section>
        <section>
        <div class="col-md-4">
        <div class="logo--main-page">
        </div>
        <p></p>
        </div>
    </section>
    <section>
        <div class="container">
        <h2 class="text-center">Наши клиенты</h2>
        <div class="col-md-12">
        <div class="row">
        {% for partner in partners %}
        <div class="col-md-3">
        <img src="{{ vich_uploader_asset(partner, 'logoImageFile') }}" class="card-img-top" alt="...">
        </div>
        {% endfor %}
        </div>
        <h2 class="text-center">Что наши клиенты думают о нас</h2>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
        </div>
        </div>
    </section>
    <footer>
            <div class="container">      
                <div class="col-md-12">
                <div class="row">  
                    <div class="col-md-6">
                    <h4></h4>
                    <p></p>
                    <h4></h4>
                    <p></p>
                    <h4></h4>
                    <p></p>
                    </div>
                    <div class="col-md-6">
              {{ form_start(form2) }}
            <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <form class="row g-3">
                <div class="col-md-12">
                <div class="row">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваше имя</label>
                    {{ form_widget(form2.firstName) }}
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Ваш номер телефона</label>
                    {{ form_widget(form2.phoneNumber) }}
                </div>
                <div class="col-12">
                    <label for="inputPassword4" class="form-label">Ваш email</label>
                    {{ form_widget(form2.email) }}
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Ваше сообщение</label>
                    {{ form_widget(form2.userQuestions.vars.prototype) }}
                </div>
                <div class="col-12">
                    <div class="form-check">
                    {{ form_widget(form2.isAgreeConditionsOfUse) }}
                    <label class="form-check-label" for="gridCheck">
                        Я соглашаюсь с условиями использования
                    </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Оформить заказ</button>
                </div>
                {{ form_end(form2) }} 
                </div>
                </div>
            </div>
            </div>
    </footer>
{% endblock %}
