{% extends 'admin/base.html.twig' %}
{% block custom_js %}
          <script>
                document.addEventListener('DOMContentLoaded', function() {
                jQuery(function(){
                $(".form-selectgroup-input-shape").click(function(e){
                e.currentTarget === this;
                var shape = $(this).val();
                //var a = $(".add_to_cart");
                //reference = a.attr('reference')
                $.ajax({
                url: ('/admin/products/add'),
                type: 'POST', 
                dataType: "json",
                data: {'shape': shape },
                success: function(data){
                  console.log(shape);
                }
            });
            })
             $(".form-selectgroup-input-gender").click(function(e){
                e.currentTarget === this;
                var gender = $(this).val();
                //var a = $(".add_to_cart");
                //reference = a.attr('reference')
                $.ajax({
                url: ('/admin/products/add'),
                type: 'POST', 
                dataType: "json",
                data: {'gender': gender},
                success: function(data){
                   console.log(gender);
                  }
              });
              })
               $(".form-colorinput-input").click(function(e){
                e.currentTarget === this;
                var color = $(this).val();
                //var a = $(".add_to_cart");
                //reference = a.attr('reference')
                $.ajax({
                url: ('/admin/products/add'),
                type: 'POST', 
                dataType: "json",
                data: {'color': color},
                success: function(data){
                  console.log(color);
          }
      });
      })
    })
  }, false);
</script>  
{% endblock %}
{% block title %}Административная панель "Amnesia"{% endblock %}
{% block body %}
  <div class="content mr-3" style="margin-inline-start: 17rem">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col mb-3">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Amnesia
                </div>
                <h2 class="page-title">
                Добавить новый товар
                </h2>
              </div>
        <div class="col-md-12">
        <div class="card">
        <div class="card-header">
        <h3 class="card-title">Главные характеристики товара</h3>
    </div>
    <div class="card-body">
    {{ form_start(form) }}
    <div class="row">
    <div class="form-group mb-3 col-md-6">
          <label class="form-label">Название</label>
          <div>
			{{ form_widget(form.title) }}
          </div>
        </div>
    <div class="form-group mb-3 col-md-6">
          <label class="form-label">Номер</label>
          <div>
			{{ form_widget(form.reference) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-md-6">
          <label class="form-label">Полное описание</label>
          <div>
			  {{ form_widget(form.description) }}
          </div>
        </div>
        <div class="form-group mb-3 col-md-6">
          <label class="form-label">Краткое описание</label>
          <div>
			  {{ form_widget(form.smallDescription) }}
          </div>
        </div>
    </div>
    <div class="row">
    <label class="form-label">Базовая цена</label>
    <div class="input-group mb-3 col-md-6">
             <span class="input-group-text">
              ₽
           </span>
        {{ form_widget(form.price) }}
      </div>
       <label class="form-label">Цена со скидкой (если таковая имеется)</label>
          <div class="input-group mb-3 col-md-6">
             <span class="input-group-text">
              ₽
           </span>
    			  {{ form_widget(form.newPrice) }}
      </div>
    </div>
    <div class="card-header pl-0 mb-3">
        <h3 class="card-title">Дополнительные характеристики товара</h3>
    </div>
		<div class="col-md-6 p-0">
        <label class="form-label">Основное фото товара</label>
				<div class="custom-file">
				{{ form_widget(form.imageFile,{'attr': {'class': 'custom-file-input'}}) }}
				</div>
				<div class="form-label-group">
					<p>
					    {% if form_errors(form.imageFile)|length > 0 %}
        				<ul class="alert alert-danger">Фото слишком большое. Допустимый размер 2 MiB
            			{% for error in form_errors(form.imageFile) %}
                		<li>{{ error.message }}</li>
            			{% endfor %}
        				</ul>
    				{% endif %}
					</p>
				</div>
				</div>
    <div class="mb-3">
            <label class="form-label">Основной цвет букета</label>
                <div class="row g-2">
                    <div class="col-auto">
                        <label class="form-colorinput">
                            <input name="color-rounded" type="radio" value="черный" class="form-colorinput-input">
                            <span class="form-colorinput-color bg-dark rounded-circle"></span>
                        </label>
                    </div>
                    <div class="col-auto">
                              <label class="form-colorinput form-colorinput-light">
                                <input name="color-rounded" type="radio" value="белый" class="form-colorinput-input" checked="">
                                <span class="form-colorinput-color bg-white rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="синий" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-blue rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="голубой" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-azure rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="индиго" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-indigo rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="фиолетовый" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-purple rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="розовый" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-pink rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="красный" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-red rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="оранжевый" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-orange rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="желтый" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-yellow rounded-circle"></span>
                              </label>
                            </div>
                            <div class="col-auto">
                              <label class="form-colorinput">
                                <input name="color-rounded" type="radio" value="зеленый" class="form-colorinput-input">
                                <span class="form-colorinput-color bg-lime rounded-circle"></span>
                              </label>
                            </div>
                          </div>
                        </div>
        <div class="mb-3">
        <label class="form-label"> Форма букета</label>
                    <div class="form-selectgroup">
                    <label class="form-selectgroup-item">
                              <input type="radio" name="icons" value="круглый" class="form-selectgroup-input form-selectgroup-input-shape" checked="">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle></svg>
                                Круглый</span>
                            </label>
                            <label class="form-selectgroup-item">
                              <input type="radio" name="icons" value="овальный" class="form-selectgroup-input form-selectgroup-input-shape">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle></svg>
                                Овальный</span>
                            </label>
                            <label class="form-selectgroup-item">
                              <input type="radio" name="icons" value="овальный" class="form-selectgroup-input form-selectgroup-input-shape">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle></svg>
                                Овальный</span>
                            </label>
                            <label class="form-selectgroup-item">
                              <input type="radio" name="icons" value="квадратный" class="form-selectgroup-input form-selectgroup-input-shape">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle></svg>
                                Квадратный</span>
                            </label>
                    </div>
            </div>
        <div class="mb-3">
        <label class="form-label">Категория букета</label>
                    <div class="form-selectgroup cutom-radio-gender--add-product-page">
                    <label class="form-selectgroup-item gender">
                              <input type="radio" name="icons" value="для женщин" class="form-selectgroup-input form-selectgroup-input-gender" checked="">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M49.999,22.317c6.163,0,11.159-4.994,11.159-11.157C61.158,4.996,56.162,0,49.999,0c-6.162,0-11.16,4.996-11.16,11.16   C38.839,17.323,43.837,22.317,49.999,22.317z M79.89,54.109L72.35,38.57c-4.109-8.498-6.881-14.33-15.066-14.33H42.715   c-8.184,0-10.953,5.832-15.062,14.33L20.11,54.109c-1.118,2.294-0.159,5.045,2.135,6.166c2.294,1.119,5.07,0.168,6.19-2.126   l10.426-20.14l-7.619,37.859h7.619v19.113c0,2.771,2.246,5.018,5.017,5.018c2.771,0,5.017-2.246,5.017-5.018V75.869h2.208v19.113   c0,2.771,2.246,5.018,5.018,5.018c2.771,0,5.017-2.246,5.017-5.018V75.869h7.619L61.138,38.01l10.427,20.14   c1.119,2.294,3.898,3.245,6.191,2.126C80.049,59.154,81.008,56.403,79.89,54.109z"/></g><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text></svg>
                                Для женщин</span>
                            </label>
                            <label class="form-selectgroup-item gender">
                              <input type="radio" name="icons" value="для мужчин" class="form-selectgroup-input form-selectgroup-input-gender">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M61.158,11.159c0,6.163-4.996,11.158-11.158,11.159c-6.163-0.001-11.159-4.996-11.159-11.159S43.837,0.001,50,0   C56.162,0.001,61.158,4.996,61.158,11.159z M79.889,54.109L72.348,38.57c-4.109-8.498-6.879-14.331-15.063-14.331h-14.57   c-8.184,0-10.954,5.833-15.063,14.331l-7.541,15.539c-1.12,2.293-0.16,5.047,2.133,6.166c2.294,1.119,5.072,0.168,6.191-2.125   L38.863,38.01v56.974c0,2.771,2.246,5.017,5.016,5.017c2.771,0,5.017-2.246,5.017-5.017V65.779h2.209v29.204   c0,2.771,2.246,5.017,5.017,5.017c2.77,0,5.016-2.246,5.016-5.017V38.01L71.564,58.15c1.119,2.293,3.897,3.244,6.191,2.125   C80.049,59.156,81.008,56.402,79.889,54.109z"/></g><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text></svg>
                                Для мужчин</span>
                            </label>
                            <label class="form-selectgroup-item gender">
                              <input type="radio" name="icons" value="для детей" class="form-selectgroup-input form-selectgroup-input-gender">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M35.354,14.77C35.354,6.612,41.967,0,50.124,0s14.769,6.612,14.769,14.77s-6.612,14.77-14.769,14.77   S35.354,22.927,35.354,14.77z M82.959,33.161c0,0-21.855-2.582-32.959-2.582c-11.103,0-32.959,2.582-32.959,2.582   c-3.732,0.439-6.4,3.821-5.959,7.554c0.44,3.73,3.821,6.399,7.553,5.959l15.241-1.271v13.541h32.107V45.391l15.383,1.283   c3.732,0.44,7.113-2.229,7.553-5.959C89.359,36.982,86.691,33.601,82.959,33.161z M57.217,75.225l7.267,6.332l-5.53,6.451   c-2.625,3.014-2.312,7.586,0.701,10.211c3.014,2.626,7.585,2.312,10.211-0.702l10.193-11.892c2.053-2.354,2.361-5.69,0.885-8.246   c-0.642-1.111-7.229-6.988-12.542-11.637C64.526,65.029,57.467,66.42,57.217,75.225z M31.882,65.794   c-5.114,4.344-11.251,9.774-12.192,11.585c-1.423,2.586-1.167,5.892,0.885,8.246l10.194,11.892   c2.626,3.014,7.197,3.328,10.21,0.702c3.013-2.625,3.328-7.197,0.702-10.211l-5.53-6.451l7.18-6.258   C43.113,66.227,35.702,64.967,31.882,65.794z M53.178,60.186h-1.053h-0.711v0.356h-0.892v0.711h0.913l1.217,0.568l-1.229,0.501   h-0.901v0.711h0.892v0.355h0.711h1.053c0.883,0,1.602-0.718,1.602-1.601C54.779,60.904,54.061,60.186,53.178,60.186z    M48.846,62.322v0.711h-2.379c-0.687,0-1.246-0.559-1.246-1.245c0-0.688,0.559-1.246,1.246-1.246h2.379v0.711h-1.343   c0.175,0.334,0.173,0.737-0.003,1.069H48.846z M47.101,61.79c0.002-0.229-0.122-0.43-0.308-0.537h-0.326   c-0.295,0-0.535,0.239-0.535,0.535c0,0.295,0.24,0.534,0.535,0.534h0.316C46.97,62.219,47.099,62.02,47.101,61.79z"/></g><text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif"></text></svg>
                                Для детей</span>
                            </label>
                    </div>
            </div>
            <div class="form-group mb-3 col-md-6 p-0">
              <label class="form-label">Авторские категории</label>
              <div>
                {{ form_widget(form.catalogCategory) }}
              </div>
            </div>
           <!-- <div class="choices" data-type="select-one" tabindex="0" role="listbox" aria-haspopup="true" aria-expanded="false">
            <div class="form-select">
            <select type="text" class="form-select form-control" placeholder="Select a date" id="select-users" value="" hidden="" tabindex="-1" data-choice="active"><option value="1">Chuck Tesla</option></select><div class="choices__list choices__list--single"><div class="choices__item choices__item--selectable" data-item="" data-id="1" data-value="1" data-custom-properties="null" aria-selected="true">Chuck Tesla</div></div></div><div class="choices__list dropdown-menu" aria-expanded="false"><div class="choices__list" role="listbox"><div id="choices--select-users-item-choice-1" class="choices__item dropdown-item active choices__item--selectable is-highlighted" role="option" data-choice="" data-id="1" data-value="1" data-select-text="Press to select" data-choice-selectable="" aria-selected="true">Chuck Tesla</div><div id="choices--select-users-item-choice-2" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="2" data-value="2" data-select-text="Press to select" data-choice-selectable="" aria-selected="false">Elon Musk</div><div id="choices--select-users-item-choice-3" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="3" data-value="3" data-select-text="Press to select" data-choice-selectable="">Paweł Kuna</div><div id="choices--select-users-item-choice-4" class="choices__item dropdown-item choices__item--selectable" role="option" data-choice="" data-id="4" data-value="4" data-select-text="Press to select" data-choice-selectable="">Nikola Tesla</div></div></div>
            </div>-->

            <div class="mb-3">
                          <div class="form-label">Переключатель сезонности</div>
                          <label class="form-check form-switch">
                          {{ form_widget(form.inStock) }}
                            <span class="form-check-label">Активный и отражается на сайте</span>
                          </label>
                        </div>
            
    <div class="card-header pl-0 mb-3">
        <h3 class="card-title">Описание товара на английском</h3>
    </div>
        <div class="row">
    <div class="form-group mb-3 col-md-6">
          <label class="form-label">Название</label>
          <div>
			{{ form_widget(form.titleEng) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-md-6">
          <label class="form-label">Полное описание</label>
          <div>
			  {{ form_widget(form.descriptionEng) }}
          </div>
        </div>
        <div class="form-group mb-3 col-md-6">
          <label class="form-label">Краткое описание</label>
          <div>
			  {{ form_widget(form.smallDescriptionEng) }}
          </div>
        </div>
    </div>
    <div class="row">
        <label class="form-label">Базовая цена</label>
    <div class="input-group mb-3 col-md-6">
             <span class="input-group-text">
              $
           </span>
        {{ form_widget(form.priceEng) }}
      </div>
     <label class="form-label">Цена со скидкой (если таковая имеется) </label>
          <div class="input-group mb-3 col-md-6">
             <span class="input-group-text">
              $
           </span>
    			  {{ form_widget(form.newPriceEng) }}
      </div>
    </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    {{ form_end(form) }}  
    </div>
  </div>
 </div>
 </div>
   </div>
 </div>
 </div>
  </div>
    {% endblock %}