{% extends 'admin/base.html.twig' %}

{% block title %}Административная панель "Amnesia"{% endblock %}
{% block body %}
  <div class="content mr-3" style="margin-inline-start: 17rem">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col mb-3">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Amnesia
                </div>
                <h2 class="page-title">
                Все товары
                </h2>
              </div>
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"></h3>
                </div>
                <div class="card-body border-bottom py-3">
                  <div class="d-flex">
                    <div class="text-muted">
                      Show
                      <div class="mx-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" value="8" size="3" aria-label="Invoices count">
                      </div>
                      entries
                    </div>
                    <div class="ms-auto text-muted">
                      Search:
                      <div class="ms-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table  id="example" class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                      <tr>
                        <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th>
                        <th class="w-1">No. <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="6 15 12 9 18 15" /></svg>
                        </th>
                        <th>Id</th>
                        <th>Фото товара</th>
                        <th>Реферальный номер</th>
                        <th>Статус</th>
                        <th>Категория</th>
                        <th>Цена</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                      <tr>
                       <!-- <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>-->
                        <td><span class="text-muted">{{product.id}}</span></td>
                        <td><img class="backoffice-image" src="{{ vich_uploader_asset(product, 'imageFile') }}" }}></td>
                        <td>
                        <!--<span class="flag flag-country-us"></span>-->
                        {{product.reference}}
                        </td>
                        <td>
                        {% if product.inStock is same as (true) %}
                          <span class="badge bg-success me-1"></span>
                          {{ products.inStock }}
                        {% else %}
                            <span class="badge bg-danger me-1"></span>
                          {{ products.inStock }}
                        {% endif %}
                        </td>
                        <td>
                          {{ products.category }}
                        </td>
                        <td>
                          {{ products.price }}
                        </td>
                        <td class="text-end">
                          <span class="dropdown">
                            <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                            <div class="dropdown-menu dropdown-menu-end">
                              <a class="dropdown-item" href="#">
                                Action
                              </a>
                              <a class="dropdown-item" href="#">
                                Another action
                              </a>
                            </div>
                          </span>
                        </td>
                      </tr>
                  {% endfor %} 
                     
                    </tbody>
                  </table>
                </div>
                <div class="card-footer d-flex align-items-center">
                  <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
                  <ul class="pagination m-0 ms-auto">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>
                        prev
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        next <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
     </div>
  </div>
</div>
{% endblock %}