{% extends 'admin/base.html.twig' %}

{% block title %}Административная панель "Amnesia"{% endblock %}
{% block body %}
  <div class="content mr-3" style="margin-inline-start: 17rem">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col mb-3">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Amnesia
                </div>
                <h2 class="page-title">
                Все товары
                </h2>
              </div>
              <table id="datatable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                 <th>Id</th>
                  <th>Фото товара</th>
                  <th>Реферальный номер</th>
                  <th>Название товара</th>
                  <th>Описание товара</th>
                  <th>Статус</th>
                  <th>Категория</th>
                  <th>Цена</th>
                  <th>Действие</th>
            </tr>
        </thead>
        <tbody>
         {% for product in products %}
            <tr>
                <td><span class="text-muted">{{product.id}}</span></td>
                <td><img class="backoffice-image" src="{{ vich_uploader_asset(product, 'imageFile') }}" }}></td>
                <td>{{product.reference}}</td>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td> {% if product.inStock is same as (1) %}
                          <span class="badge bg-success me-1"></span>
                          в наличии
                      {% else %}
                            <span class="badge bg-danger me-1"></span>
                         не в наличии
                {% endif %}</td>
                <td>{{ product.catalogCategory.title }}</td>
                <td>{{ product.price }}</td>
                <td>
                <div href="#" class="col-12 action-icons">
                <div class="row">
                 <div class="col-6">
                  <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" /><path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" /><line x1="16" y1="5" x2="19" y2="8" /></svg></a>
                  </div>
                 <div class="col-6">
                  <a href="{{ path('admin_product_delete', { id: product.id }) }}" onclick="Вы уверены, что хотите удалить категорию?')"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg></a>
                  </div>
                </div>
                </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
     </div>
  </div>
</div>
{% endblock %}