{% extends 'admin/base.html.twig' %}

{% block title %}Административная панель "Amnesia"{% endblock %}
{% block body %}
  <div class="content mr-3" style="margin-inline-start: 17rem">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col mb-3">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Amnesia
                </div>
                <h2 class="page-title">
                Все пользователи платформы
                </h2>
              </div>
        <div class="col-md-12">
        <div class="row">
        <div class="col-md-6">
        <div class="card-header">
        <h3 class="card-title">Зарегистрированные пользователи</h3>
        </div>
        <table id="datatable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Фото</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Создан</th>
                <th>Роль в компании</th>
            </tr>
        </thead>
        <tbody>
        
         {% for users in allUsers %}
            <tr>
                <td>
                  <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                </td>
                <td>{{ users.firstName }}</td>
                <td>{{ users.lastName }}</td>
                <td class="text-nowrap text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="5" width="16" height="16" rx="2"></rect><line x1="16" y1="3" x2="16" y2="7"></line><line x1="8" y1="3" x2="8" y2="7"></line><line x1="4" y1="11" x2="20" y2="11"></line><line x1="11" y1="15" x2="12" y2="15"></line><line x1="12" y1="15" x2="12" y2="18"></line></svg>
                        {{ users.createdAt }}
                </td>
                <td class="text-nowrap">
                    <a href="#" class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path><line x1="8" y1="9" x2="16" y2="9"></line><line x1="8" y1="13" x2="14" y2="13"></line></svg>
                    {{ users.role }}</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
        </div>
        <div class="col-md-6">
        <div class="card">
    <div class="card-header">
      <h3 class="card-title">Добавить нового пользователя</h3>
    </div>
    <div class="card-body">
    {{ form_start(form) }}
    <div class="form-group mb-3 ">
          <label class="form-label">Имя</label>
          <div>
			{{ form_widget(form.firstName) }}
          </div>
        </div>
    <div class="form-group mb-3 ">
          <label class="form-label">Фамилия</label>
          <div>
			{{ form_widget(form.lastName) }}
          </div>
        </div>
       <div class="form-group mb-3 ">
          <label class="form-label">Номер телефона</label>
          <div>
			  {{ form_widget(form.phoneNumber) }}
          </div>
        </div>
        <div class="form-group mb-3 ">
          <label class="form-label">Email</label>
          <div>
			  {{ form_widget(form.email) }}
          </div>
        </div>
        {# <div class="col-md-6">
            <p>
              <span class="errors-control">
                  <input type="email" id="c_email" name="c_email" placeholder="Email de confirmation" required>
                  <i class="fa fa-exclamation-triangle"></i>
              </span>
            </p>
        </div>#}
<div class="mb-3">
                          <label class="form-label">Роль в компании</label>
                          <div class="form-selectgroup">
                            <label class="form-selectgroup-item">
                              <input type="radio" name="icons" value="администратор" class="form-selectgroup-input" checked="">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="3" y1="21" x2="21" y2="21" /><path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" /><line x1="5" y1="21" x2="5" y2="10.85" /><line x1="19" y1="21" x2="19" y2="10.85" /><path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" /></svg>
                                Администратор</span>
                            </label>
                            <label class="form-selectgroup-item">
                              <input type="radio" name="icons" value="флорист" class="form-selectgroup-input">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15a6 6 0 1 0 12 0" /><path d="M18 15a6 6 0 0 0 -6 6" /><path d="M12 21a6 6 0 0 0 -6 -6" /><path d="M12 21v-10" /><path d="M12 11a5 5 0 0 1 -5 -5v-3l3 2l2 -2l2 2l3 -2v3a5 5 0 0 1 -5 5z" /></svg>
                                Флорист</span>
                            </label>
                            <label class="form-selectgroup-item">
                              <input type="radio" name="icons" value="доставщик" class="form-selectgroup-input">
                              <span class="form-selectgroup-label"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="11" r="3" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
                                Доставщик</span>
                            </label>
                          </div>
                        </div>
        <div class="form-footer">
          <button type="submit" class="btn custom-button--admin">Создать пользователя</button>
        </div>
    {{ form_end(form) }}  
    </div>
  </div>
 </div>
 </div>
   </div>
 </div>
 </div>
  </div>
    {% endblock %}