{% extends 'admin/base.html.twig' %}

{% block title %}Административная панель "Amnesia"{% endblock %}
{% block body %}
  <div class="content mr-3" style="margin-inline-start: 17rem">
        <div class="container-xl">
          <!-- Page title -->
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col mb-3">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Amnesia
                </div>
                <h2 class="page-title">
                Управление сайтом
                </h2>
              </div>
              {{ form_start(form) }}
              <div class="col-12 p-0">
              <div class="row">
              <div class="col-6">
                  <div class="card card-custom-backgroun-upload--admin-website-management">
                    <div class="row row-0">
                      <div class="col">
                        <div class="card-body">
                          <div class="card-body-middle-layer">
                          <h3 class="card-title">Основное фото сайта</h3>
                          <div class="custom-file">
                          {{ form_widget(form.mainBackgroundImageFile,{'attr': {'class': 'custom-file-input'}}) }}
                          </div>
                          <div class="form-label-group">
                            <p>
                                {% if form_errors(form.mainBackgroundImageFile)|length > 0 %}
                                  <ul class="alert alert-danger">Фото слишком большое. Допустимый размер 2 MiB
                                    {% for error in form_errors(form.mainBackgroundImageFile) %}
                                      <li>{{ error.message }}</li>
                                    {% endfor %}
                                  </ul>
                              {% endif %}
                            </p>
                          </div>
                        </div>
                        <div class="form-footer">
                          <button type="submit" class="btn custom-button--admin">Обновить фото</button>
                        </div>
                        </div>
                      </div>
                        <div class="col-6 image-preview--admin-website-management">
                        <img src="{{ vich_uploader_asset(website, 'mainBackgroundImageFile') }}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card card-custom-backgroun-upload--admin-website-management">
                    <div class="row row-0">
                      <div class="col">
                        <div class="card-body">
                          <div class="card-body-middle-layer">
                          <h3 class="card-title">Основное фото сраздела <br>"О нас"</h3>
                          <div class="custom-file">
                          {{ form_widget(form.aboutUsBackgroundImageFile,{'attr': {'class': 'custom-file-input'}}) }}
                          </div>
                          <div class="form-label-group">
                            <p>
                                {% if form_errors(form.aboutUsBackgroundImageFile)|length > 0 %}
                                  <ul class="alert alert-danger">Фото слишком большое. Допустимый размер 2 MiB
                                    {% for error in form_errors(form.aboutUsBackgroundImageFile) %}
                                      <li>{{ error.message }}</li>
                                    {% endfor %}
                                  </ul>
                              {% endif %}
                            </p>
                          </div>
                        </div>
                        <div class="form-footer">
                          <button type="submit" class="btn custom-button--admin">Обновить фото</button>
                        </div>
                       </div>
                      </div>
                        <div class="col-6 image-preview--admin-website-management">
                        <img src="{{ vich_uploader_asset(website, 'aboutUsBackgroundImageFile') }}">
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>

          <!--  SECOND ROW WITH CATALOG PARTNERS -->
            <div class="col-12 p-0 mt-5">
              <div class="row">
            <div class="col-6">
            <div class="row">
            {% for announcement in announcements %}
            <div class="col-md-12 col-xl-12 mb-3">
              <div class="card form-custom-upload--admin-website-management">
                <div class="card-body text-center">
                  <div class="mb-3">
                  <span class="avatar avatar-xl avatar-rounded" style="background-image: url('{{ vich_uploader_asset(announcement, 'mainImageFile') }}')"></span>
                  </div>
                  <div class="card-title mb-1">{{ announcement.title }}</div>
                  <div class="card-title mb-1">{{ announcement.description }}</div>
                </div>
                <div href="#" class="card-btn col-12">
                <div class="row">
                 <div class="col-6">
                  <a href="#" class="btn custom-button--admin">Изменить</a>
                  </div>
                 <div class="col-6">
                  <a href="{{ path('admin_announcement_delete', { id: announcement.id }) }}" onclick="Вы уверены, что хотите удалить новость?')" class="btn custom-button--admin">Удалить</a>
                  </div>
                </div>
     
              </div>
            </div>
            </div>
           {% endfor %}
              </div>
              </div>
              <div class="col-6">
                  <div class="card form-custom-upload--admin-website-management">
                    <div class="row row-0">
                      <div class="col">
                        <div class="card-body">
                          <div class="card-body-middle-layer">
                          <div class="custom-file">
                            <div class="card-body-middle-layer">
                                {{ form_widget(form.announcements.vars.prototype) }}
                            </div>
                          </div>
                        </div>
                        <div class="form-footer">
                          <button type="submit" class="btn custom-button--admin">Добавить новый раздел анонса</button>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>


          <!--  THIRD ROW WITH CATALOG PARTNERS -->
            <div class="col-12 p-0 mt-5">
              <div class="row">
            <div class="col-6">
            <div class="row">
            {% for partner in partners %}
            <div class="col-md-3 col-xl-3 mb-3">
                <div class="text-center">
                  <div class="mb-3">
                  <span class="avatar avatar-xl avatar-rounded" style="background-image: url('{{ vich_uploader_asset(partner, 'logoImageFile') }}')"></span>
                  </div>
                  <div class="card-title mb-1">{{ partner.title }}</div>
                  <a href="{{ path('admin_partner_delete', { id: partner.id }) }}" onclick="Вы уверены, что хотите удалить партнера?')" class="btn custom-button--admin">Удалить</a>
                </div>
            </div>
           {% endfor %}
                </div>
                </div>
              <div class="col-6">
                  <div class="card form-custom-upload--admin-website-management">
                    <div class="row row-0">
                      <div class="col">
                        <div class="card-body">
                          <div class="card-body-middle-layer">
                          <div class="custom-file">
                                {{ form_widget(form.partners.vars.prototype) }}
                          </div>
                        </div>
                        <div class="form-footer">
                          <button type="submit" class="btn custom-button--admin">Обновить фото</button>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>

        <!--  FOUTH ROW WITH SEASONAL ANONCE -->
        {% for customSeasonalBlock in customSeasonalBlocks %}
        <div class="col-12 mb-5 ">
                  <div class="card card-custom-backgroun-upload--admin-website-management">
                    <div class="row row-0">
                      <div class="col">
                        <div class="card-body">
                          <div class="card-body-middle-layer">
                          <h3 class="card-title">{{ customSeasonalBlock.title }}</h3>
                          <h3 class="card-title">{{ customSeasonalBlock.description }}</h3>
                          <div class="form-label-group">
                            <p>
                            </p>
                          </div>
                        </div>
                       </div>
                      </div>
                        <div class="col-6 image-preview--admin-website-management">
                        <img src="{{ vich_uploader_asset(customSeasonalBlock, 'mainImageFile') }}">
                      </div>
                    </div>
                  </div>
                </div>
               {% endfor %}
              <div class="col-12">
                  <div class="card form-custom-upload--admin-website-management">
                    <div class="row row-0">
                      <div class="col">
                        <div class="card-body">
                          <div class="card-body-middle-layer">
                          <div class="custom-file">
                                {{ form_widget(form.customSeasonalBlocks.vars.prototype) }}
                          </div>
                        </div>
                        <div class="form-footer">
                          <button type="submit" class="btn custom-button--admin">Обновить новость</button>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                {{ form_rest(form) }}
          </div>
     </div>
  </div>
</div>
{% endblock %}